{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script type="text/javascript">
(function($) {
  $(document).ready(function($) {
  });
})(django.jQuery);
</script>
<style type="text/css" media="all">
  h3 { margin-bottom: 20px }
  .conftable td, .conftable th { vertical-align: middle }
  .conftable th { text-align: right; padding: 0 15px }
</style>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       Config
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <form method="post" action="./" enctype="multipart/form-data">{% csrf_token %}
      {% for form in forms %}
        <div class="module">
          <h3>{{ form.name }}</h3>
          <table class="conftable">
            {{ form.form.as_table }}
          </table>
        </div>
      {% endfor %}
      <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save">
      </div>
    </form>
  </div>
{% endblock %}
